<div id="floatingDock" class="floating-dock">

<button
id="floatingMain"
class="floating-main">

<i class="fa-solid fa-headset"></i>

<span class="wave"></span>

</button>

<div class="floating-menu">

<a

href="https://wa.me/250794669266"

target="_blank"

class="floating-btn whatsapp"

title="WhatsApp">

<i class="fab fa-whatsapp"></i>

</a>

<a

href="https://whatsapp.com/channel/0029VbBQQXUFcow58oTpZ13o"

target="_blank"

class="floating-btn channel"

title="WhatsApp Channel">

<i class="fa-solid fa-bullhorn"></i>

</a>

<a

href="tel:+250794669266"

class="floating-btn call"

title="Call">

<i class="fa-solid fa-phone"></i>

</a>

</div>

</div>
